<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>829648024164-eivi59d7pj92fscsekv5emieg7c7spj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829648024164-eivi59d7pj92fscsekv5emieg7c7spj8</string>
	<key>API_KEY</key>
	<string>AIzaSyCmiAl_hq1kLIB8o7JVqDADoCYD1rDSF5k</string>
	<key>GCM_SENDER_ID</key>
	<string>829648024164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ominext</string>
	<key>PROJECT_ID</key>
	<string>chatfirestore-87d27</string>
	<key>STORAGE_BUCKET</key>
	<string>chatfirestore-87d27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829648024164:ios:6cfea3404b1a646b</string>
	<key>DATABASE_URL</key>
	<string>https://chatfirestore-87d27.firebaseio.com</string>
</dict>
</plist>